html, body {
	height: 100%;
	width: 100%;
	margin: 0;
}

body {
	background-color: #101010;
	overflow-x: hidden;
}

.navbar {
	position: fixed;
	background-color: #000000aa;
	overflow: hidden;
	width: 100%;
	backdrop-filter: blur(10px);
	z-index: 100;
}

/* Style the links inside the navigation bar */
.navbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 80px;
	text-decoration: none;
	font-size: 17px;
	font-family: "Montserrat";
	transition: color .3s;
}

.navbar h1 {
	float: left;
	color: white;
	background-color: black;
	text-align: center;
	/* top, right, bottom, left*/
	padding: 7px 14px 7px 40px;
	text-decoration: none;
	font-size: 25.5px;
	margin: 0;
	font-family: "Bebas Neue";
	border-radius: 10px;
	letter-spacing: 1px;
}

/* Change the color of links on hover */
.navbar a:hover {
	color: #dcf8df;
}

/* Add a color to the active/current link */
.navbar a.active {
	color:#80ED99;
}

.opening {
	background-color: gray;
	height: 22vh;
	width: 14vw;
	border-radius: 8px;
	text-align: center;
	outline: 2px solid black;
	transition: transform 0.2s;
	cursor: pointer;
}

.full-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 85%;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	font-family: 'Helvetica';
	color: white;
	font-size: 3vw;
	font-weight: bold;
	padding-top: 30px;
}

.up-center {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.opening-div {
	display: flex;
	justify-content: center;
	width: 100%;
}

.opening-div-div {
	display: flex;
	flex-direction: row;
	width: 95%;
}

.opening h1 {
	color: white;
	font-family: 'Alkatra';
	font-size: 1.75vw;
}
.opening h2 {
	color: lightgray;
	font-style: italic;
	font-family: 'Ubuntu';
	font-size: 1.2vw;
}

.opening:hover {
	transform: scale(1.035);
}


.board {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	position: relative;
}

.desc {
	font-family: 'Montserrat';
	color: lightgray;
	font-size: 1vw;
	margin: 0;
	overflow: hidden;
	padding-bottom: 5px;
	word-wrap: break-word;
}

.sub {
	margin: 0;
	position: relative;
	left: 40px;
}

.section {
	font-family: 'Montserrat';
	color: white;
	font-weight: bold;
	font-size: 1.5vw;
	margin: 0;
	overflow: hidden;
	padding-bottom: 5px;
}

.left {
	width: 95%;
	display: flex;
	flex-direction: column;
	row-gap: 0;
}

.move {
	color: #80ED99;
	text-decoration: underline;
	cursor: pointer;
}

.space {
	padding-bottom: 40vh;
}

/* Styles for only pc */
@media (min-width: 768px) {
	::-webkit-scrollbar {
		background: none;
		width: 16px;
		height: 16px;
		cursor: default;
	  }
	::-webkit-scrollbar-corner {
		background: transparent;
	  }
	::-webkit-scrollbar-thumb {
		border-width: 0px 4px;
		border-style: solid;
		border-color: rgba(0, 0, 0, 0);
		border-image: initial;
		border-radius: 9px / 4px;
		box-shadow: #0f031d 0px 0px 0px 1px inset, white 0px 0px 0px 4px inset;
		cursor: pointer;
		user-select: none;
	  }
	::-webkit-scrollbar-track-piece {
		margin: 4px 0px;
	  }
}



/* Styles for mobile */
@media (max-width: 767px) {



	.sub {
		margin: 0;
		position: relative;
		left: 10px;
	}

	.desc {
		font-size: 2.5vw;
	}
	
	.section {
		font-size: 4vw;
	}
	
	.navbar a {
		float: left;
		color: #f2f2f2;
		text-align: center;
		padding: 5px 12px;
		text-decoration: none;
		font-size: 17px;
		font-family: "Montserrat";
	}
	
	/* Change the color of links on hover */
	.navbar a:hover {
		background-color: #dcf8df;
		color: black;
	}
	
	/* Add a color to the active/current link */
	.navbar a.active {
		background-color: #04AA6D;
		color: white;
	}

	.title {
		font-family: 'Ubuntu';
		font-size: 6vw;
	}

	.opening {
		height: 18vh;
		width: 24vw;
		border-radius: 8px;
	}
	.opening h1 {
		font-size: 4vw;
	}
	.opening h2 {
		font-size: 3.5vw;
	}
	
	.navbar a {
		float: left;
		color: #f2f2f2;
		text-align: center;
		padding: 10px 16px;
		text-decoration: none;
		font-size: 14.5px;
		font-family: "Montserrat";
		transition: color .3s;
	}
	
	.navbar h1 {
		float: left;
		color: white;
		background-color: black;
		text-align: center;
		/* top, right, bottom, left*/
		padding: 7px 14px 7px 14px;
		text-decoration: none;
		font-size: 18px;
		margin: 0;
		font-family: "Bebas Neue";
		border-radius: 10px;
		letter-spacing: 1px;
	}


}
